.CommonModule-wrap {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: url("../../../../../assets/images/vm/module_bg.png") no-repeat;
    background-size: 100% 100%;

    .commonTitle {
        width: 100%;
        height: 15%;
    }

    .baseInformationContent {
        width: 100%;
        height: 85%;
        .baseInformationTime {
            width: 100%;
            height: 35%;
            height: 15%;
            font-family: UnidreamLED;
            font-size: 1.3vw;
            color: red;
        }
        .pieChartClass {
            width: 100%;
            height: 84%;
        }
        
    }
}
