.mainPage-wrap {
    width: 100%;
    color: @font-color-theme;
    background-image: url('../../../assets/images/um/um-bg.png');
    .main-content-wrap {
        display: flex;
        height: 89%;
    }
    .footer-wrap {
        position: absolute;
        bottom: 0;
        line-height: 57px;
        left: 0;
        right: 0;
        text-align: center;
    }
}
